@use 'utils'as u;

.clients {
    padding: 100px 0 100px 64px;

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 140%;
    }

    &__wrapper {
        margin-top: 56px;
        overflow-x: auto;
        width: 100%;
        &::-webkit-scrollbar {
            height: 0;
        }
    }
}

@include u.media('desktop', max) {
    .clients {
        padding: 80px 16px;
    }
}