@use 'utils'as u;

.comments {
    @include u.flex(space-between, center);

    &__list {
        min-width: 392px;
        min-height: 245px;
        padding: 28px;
        border-radius: 8px;
        background-color: u.$color-gray2;
        display: flex;
        margin-right: 30px;
    }

    &__img {
        width: 38px;
        height: 38px;
        margin-right: 18px;
    }

    &__box {
        min-height: 156px;
    }

    &__box--name {
        margin-bottom: 12px;
    }

    &__name {
        @include u.text(18px, 500, u.$color-white, 21px);
        margin-right: 8px;
    }

    &__link {
        @include u.text(18px, 400, u.$color-blue3, 21px);
        text-decoration: none;
    }

    &__text {
        @include u.text(16px, 400, u.$color-gray1, 160%);
        max-width: 280px;
    }
}

@include u.media('desktop', max) {

    .comments {
        &__list {
            min-width: 327px;
            min-height: 318px;
            margin-right: 18px;
        }

        &__name {
            @include u.text(18px, 500, u.$color-white, 21px);
        }

        &__link {
            @include u.text(18px, 400, u.$color-blue3, 21px);
        }

        &__text {
            @include u.text(16px, 400, u.$color-gray1, 160%);
        }
    }
}