@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

// COLORS
$color-white: #fff;
$color-black: #000000;
$color-bg: #191B25;
$color-black2: #20222C;
$color-gray: #AEB4C8;
$color-gray1: #E0E2E9;
$color-gray2: #272933;
$color-gray3: #31333E;
$color-gray4: #959D9E;
$color-gray5: #3E404A;
$color-grayDark: #646978;
$color-blue: #0077E2;
$color-blueDark: #0063CE;
$color-blue2: #268EEC;
$color-blue3:#248DED;
$color-brown:#222222;

// FONTS
$primary-font: 'Rubik', sans-serif;
$base-font-size: 10px;

// OFFSET
$mobile-container-padding-x: 16px;
